@font-face {
  font-family: 'Arial-MT';
  src: url('../fonts/Arial-MT.woff');
  /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

input[type='radio'] {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  display: flex;
  transition: all 0.5s ease-in-out;
}

.track-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.7);
}

.player-wrapper {
  padding: 10px;
  width: 250px;
  height: 190px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3), inset -5px -5px 10px rgba(255, 255, 255, 0.3);
}

.player-controls {
  display: flex;
  width: 120px;
  margin: 0 auto;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}

.track-time {
  margin: 0 auto;
  margin-top: 15px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.timeline {
  margin: 0 auto;
  margin-top: 5px;
  width: 90%;
  height: 15px;
  background-color: rgb(194, 194, 194);
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.progress {
  position: relative;
  height: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.progress::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(50%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}

.volume {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.volume-input {
  appearance: none;
  width: 60%;
  height: 10px;
  background-color: rgb(194, 194, 194);
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.7s;
}

.volume-input:focus {
  outline: none;
}

.volume-input::-webkit-slider-runnable-track {
  appearance: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}

.volume-input::-webkit-slider-thumb {
  appearance: none;
  overflow: visible;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4b4b4b;
  box-shadow: -155px 0 0 150px rgba(255, 255, 255, 0.7);
}

.play-list {
  margin-left: 20px;
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: '\2713';
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote,
.settings-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.55;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.settings-icon:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.settings-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../img/svg/play.svg');
}

.pause {
  background-image: url('../img/svg/pause.svg');
}

.play-prev {
  background-image: url('../img/svg/play-prev.svg');
}

.play-next {
  background-image: url('../img/svg/play-next.svg');
}

.volume-btn {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../img/svg/volume.svg');
  transition: all 0.3s;
}

.no-volume {
  background-size: 34px 34px;
  background-image: url('../img/svg/no_volume.svg');
}

.settings {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
}

.settings-trigger {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 18px;
}

.settings-icon {
  width: 45px;
  height: 45px;
  background-size: 45px 45px;
  background-image: url('../img/svg/gears-solid.svg');
}

.settings-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 250px;
  height: 280px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3), inset -5px -5px 10px rgba(255, 255, 255, 0.3);
  user-select: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.settings-body-active {
  visibility: visible;
  opacity: 1;
}

.settings-language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.settings-language-title,
.settings-images-title,
.settings-blocks-title {
  margin-bottom: 5px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(255, 255, 255);
}

.toggle {
  position: relative;
  height: 42px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.toggle input[type='checkbox'] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.toggle label {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.toggle label:before,
.toggle label:after {
  font-size: 18px;
  font-weight: bold;
  font-family: arial;
  transition: 0.2s ease-in;
  box-sizing: border-box;
}
.toggle label:before {
  content: 'UA';
  background: #4b4b4b;
  color: #aaa;
  height: 42px;
  width: 140px;
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
  border-radius: 4px;
  transition: 0.7s cubic-bezier(0.52, -0.41, 0.55, 1.46);
  box-shadow: inset 70px 0px 0 0px #ddd;
}
.toggle label:after {
  content: 'EN';
  position: absolute;
  left: 100px;
  line-height: 42px;
  top: 0;
  color: #fff;
}
.toggle input[type='checkbox']:checked + label:before {
  color: #fff;
  box-shadow: inset -70px 0px 0 0px #ddd;
  border-color: #ddd;
  background: #4b4b4b;
}
.toggle input[type='checkbox']:checked + label:after {
  color: #aaa;
}

.settings-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-image-wrapper {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-between;
}

.settings-image-option {
  display: none;
}

.settings-image-label {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.settings-image-label::before,
.settings-block-label::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #4b4b4b;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: -2px -1px 0 #4b4b4b;
  background: #f3f3f3;
  transition: all 0.5s, background 0.4s ease-in-out;
}

.settings-image-label:hover {
  color: #4b4b4b;
  letter-spacing: 1px;
}

.settings-image-label:hover::before,
.settings-block-label:hover::before {
  border: 1px solid #4b4b4b;
  box-shadow: 2px 1px 0 #4b4b4b;
}

.settings-image-option:checked + .settings-image-label::before,
.settings-block:checked + .settings-block-label::before {
  border: 2px solid #fff;
  border-radius: 3px;
  background: #4b4b4b;
  box-shadow: 2px 1px 0 #4b4b4b;
}

.settings-block-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.settings-block {
  display: none;
}

.settings-block-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
}

.settings-block-label:hover {
  color: #4b4b4b;
}

.weather {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 5px;
  width: 220px;
  min-height: 190px;
  text-align: center;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3), inset -5px -5px 10px rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease-in-out;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url('../img/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../img/svg/slider-next.svg');
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  transition: all 0.5s ease-in-out;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: all 0.5s ease-in-out;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.quotes {
  max-width: 760px;
  transition: all 0.5s ease-in-out;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../img/svg/reload.svg');
}

.quote {
  min-height: 32px;
}

.author {
  margin-top: 5px;
  font-style: italic;
  min-height: 20px;
}

.hiddenBlock {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
